<div class="p-non-exfoliate-outer-padding">
{{#each details as |object|}}

  <h1 class="p-title">
      {{fa-icon "eye" fixedWidth=true}}  {{object.Name}} Breach
  </h1>

  <div>
      <span class="p-key">PWND Count: </span>
      <span class="p-value">{{object.PwnCount}}</span>
  </div>

  <div>
      <span class="p-key">Domain of Breach: </span>
      <span class="p-value">{{object.Domain}}</span>
  </div>

  <div>
      <span class="p-key">PWND Date: </span>
      <span class="p-value">{{object.BreachDate}}</span>
  </div>

  <div>
      <span class="p-key">Date Added to HaveIBeenPwnd: </span>
      <span class="p-value">{{object.AddedDate}}</span>
  </div>

  <div>
      <span class="p-key">Date Modified in HaveIBeenPwnd: </span>
      <span class="p-value">{{object.ModifiedDate}}</span>
  </div>

<div>
  <span class="p-title"> Description of {{object.Name}} Breach </span>
</div>

  <div>
      <span class="p-key">Pwn Breach Description: </span>
      <span class="p-value">{{object.Description}}%</span>
  </div>

  {{#if object.DataClasses}}
  <div>
    <span class="p-title">{{object.Name}} Data Classes</span>
  </div>

  {{#each object.DataClasses as |classes|}}
  <div>
      <li><span class="p-value">{{classes}}</span></li>
  </div>
  {{/each}}
  {{/if}}

  <div>
    <span class="p-title">{{object.Name}} Breach Metadata</span>
  </div>

  {{#if object.IsVerified}}
  <div>
      <span class="p-key">Verified: </span>
      <span class="p-value">{{object.IsVerified}}</span>
  </div>
  {{/if}}

  {{#if object.IsFabricated}}
  <div>
      <span class="p-key">Fabricated: </span>
      <span class="p-value">{{object.IsFabricated}}</span>
  </div>
  {{/if}}

  {{#if object.IsSensitive}}
  <div>
      <span class="p-key">Sensitive: </span>
      <span class="p-value">{{object.IsSensitive}}</span>
  </div>
  {{/if}}

  {{#if object.IsRetired}}
  <div>
      <span class="p-key">Retired: </span>
      <span class="p-value">{{object.IsRetired}}</span>
  </div>
  {{/if}}

  {{#if object.IsSpamList}}
  <div>
      <span class="p-key">SpamList: </span>
      <span class="p-value">{{object.IsSpamList}}</span>
  </div>
  {{/if}}

  <div>
  <hr>
  </div>
{{/each}}
</div>

{{#if block.entity}}
  <span class="p-action view-more" {{action "toggleScanner"}}>
    {{#if isShowingDiv}}
        (Hide Polarity Metadata{{fa-icon "angle-up" fixedWidth=true}})
    {{else}}
        (View Polarity Metadata{{fa-icon "angle-down" fixedWidth=true}})
    {{/if}}
      </span>

{{#if isShowingDiv}}
<div>
{{#if (eq block.entity.requestContext.requestType "OnDemand")}}
  <div class="polarityMeta">
    <span class="p-key">Request Type:</span>
    <span class="p-value">{{block.entity.requestContext.requestType}}</span>
  </div>
{{/if}}

{{#if block.entity.requestContext.windowTitle}}
  <div class="polarityMeta">
    <span class="p-key">Window Title:</span>
    <span class="p-value">{{block.entity.requestContext.windowTitle}}</span>
  </div>
{{/if}}

{{#if block.entity.requestContext.processName}}
  <div>
    <span class="p-key">Process Name:</span>
    <span class="p-value">{{block.entity.requestContext.processName}}</span>
  </div>
{{/if}}

</div>
{{/if}}
{{/if}}
